<!-- templates/managecompany.html -->
{% extends 'base.html' %}

{% block title %} Portal de Padres {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hola {{ user.username }}!
  Estás en el portal de Padres

  <p><button onclick= "location.href='{% url 'Gestión de Mascotas' %}'" class="btn btn-primary">Gestión de Mascotas</button></p>
  <button onclick="open_modal('{% url 'Editar Perfil'%}')" class="btn btn-primary">Editar Perfil</button>

  <div class="modal fade" id="modal" role="dialog"></div>
{% endif %}
{% endblock %}

{% block extrajs %}

  <script type="text/javascript">
    
    var $ = jQuery.noConflict();

    function open_modal(url){
      $('#modal').load(url, function(){
        $(this).modal('show')
      })
    }

  </script>
{% endblock extrajs %}
