{% extends 'base.html' %}

{% block title %} Gestión de Mascotas {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hola {{ user.username }}!
  Estás en el portal de Administración de Mascotas

  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:middle;vertical-align:middle}
  </style>
  
  <table class="tg">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de Nacimiento</th>
        <th>ID Veterinaria</th>
        <th>Especie</th>
        <th>Familia</th>
        <th>Raza</th>
        <th>Color</th>
        <th>Descripción</th>
        <th>Fecha de Alta</th>
        <th>Activo</th>
    </tr>
    
    {% for p in pets %}
      <tr>    
          <td>{{p.id}}</td>
          <td>{{p.nickname}}</td>
          <td>{{p.birthdate}}</td>
          <td>{{p.vet_id}}</td>
          <td>{{p.species}}</td>
          <td>{{p.family}}</td>
          <td>{{p.race}}</td>
          <td>{{p.color}}</td>
          <td>{{p.description}}</td>
          <td>{{p.creation_date}}</td>
          <td>{{p.active}}</td>
          <td><button onclick="open_modal('{% url 'Editar Mascotas' p.id %}')" class="btn btn-primary">Editar</button></td>
          <td><button onclick= "location.href='{% url 'Eliminar Mascotas' p.id %}'" class="btn btn-danger">Eliminar</button></td>
          <td><button onclick="open_modal('{% url 'Atenciones' p.id %}')" class="btn btn-secondary">Ver Atenciones</button></td>
      </tr>
    {% endfor %}
  </table>

  <p>
    <button onclick="open_modal('{% url 'Alta de Mascotas'%}')" class="btn btn-primary">Alta de Mascotas</button>
    <button onclick= "location.href='{% url 'Portal de Padres' %}'" class="btn btn-danger">Volver</button></p>

  <div class="modal fade" id="modal" role="dialog"></div>

{% endif %}
{% endblock content %}

{% block extrajs %}

  <script type="text/javascript">
    
    var $ = jQuery.noConflict();

    function open_modal(url){
      $('#modal').load(url, function(){
        $(this).modal('show')
      })
    }

  </script>
{% endblock extrajs %}
