<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Responder Veterinario</h2>
    </div>
    <div class="modal-body">
      <form action ="{% url 'Responder Veterinario' veterinarianID %}" method="POST">{% csrf_token %}

        <table>
            
            {{form.as_table}}
    
        </table>
    
        <input type="submit", class="btn btn-primary", value="Enviar">
      </form>
    </div>
    <div class="modal-footer">
      <button onclick= "location.href='{% url 'Mensajes de Padre' %}'" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>